/* line 3, ../scss/main.scss */
.main .grid-buttons .button-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
/* line 10, ../scss/main.scss */
.main .table-header a {
  margin-top: 20px;
}
/* line 13, ../scss/main.scss */
.main .table-header h3 {
  display: inline-block;
}
/* line 17, ../scss/main.scss */
.main .table {
  width: 100%;
  border: 1px solid #000;
}
/* line 20, ../scss/main.scss */
.main .table th, .main .table tr, .main .table td {
  border: 1px solid #000;
  height: 30px;
}
/* line 24, ../scss/main.scss */
.main .table tr:nth-child(2n + 1) {
  background: #eee;
}

/* line 31, ../scss/main.scss */
.edit .table-header a {
  margin-top: 30px;
}
/* line 35, ../scss/main.scss */
.edit .table {
  margin-bottom: 20px;
}
/* line 37, ../scss/main.scss */
.edit .table th, .edit .table tr, .edit .table td {
  padding: 0 10px;
}
/* line 39, ../scss/main.scss */
.edit .table th input, .edit .table tr input, .edit .table td input {
  margin-bottom: 0;
  border: 1px solid transparent;
}
/* line 44, ../scss/main.scss */
.edit .table th {
  padding: 15px 10px;
}
