<div class="task-list">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Task List</h4>
        </li>
        <li class="collection-item"
            ng-repeat="task in $ctrl.tasks track by $index"
            ng-class="{done: task.done == true}">
            <div>
                {{task.title}}
                <a href="#!/tasks/task"
                   class="secondary-content"
                   ng-click="$ctrl.setTaskDescription(task)">
                   <i class="material-icons">play_arrow</i>
                </a>
                <button ng-click="$ctrl.deleteTask(task)"
                        class="secondary-content material-icons btn"
                        ng-class="{disabled: !task.done}">delete</button>
                <i ng-click="$ctrl.isDone(task)" class="secondary-content material-icons done">done</i>
                <i ng-click="$ctrl.isReplay(task)" class="secondary-content material-icons replay">replay</i>
            </div>
        </li>
    </ul>

    <button class="waves-effect waves-light btn"
            ng-click="$ctrl.showAddition()">
        <i class="material-icons left">playlist_add</i>
        add task
    </button>
    <div class="task-list--add"
         ng-class="{show: $ctrl.addTaskShow == true}">
        <label>Task Title: <input type="text" ng-model="$ctrl.additionTask.title"></label>
        <label>Task Description: <input type="text" ng-model="$ctrl.additionTask.description"></label>
        <a ng-click="$ctrl.addTask()"
           class="waves-effect waves-light btn"
           ng-class="{disabled: $ctrl.additionTask.title.length < 3 || $ctrl.additionTask.description.length < 3}">
            <i class="material-icons left">
            playlist_add</i>add
        </a>
        <p class="error"
           ng-show="$ctrl.additionTask.title.length < 3 || $ctrl.additionTask.description.length < 3">Fill all fields</p>
    </div>
</div>