<section class="main">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Grids</h1>
                <div class="grid-buttons">
                    <div class='button-wrapper' ng-repeat="grid in $ctrl.gridsList">
                        <a ng-href="#!gridlist/{{grid.id}}" class="btn">{{grid.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="table-header">
                    <h3 id="edit">{{$ctrl.grid.name}} detail</h3>
                    <a ng-href="#!edit"
                       class="btn right">
                        edit grid
                    </a>
                </div>
            </div>
            <table class="table">
                <th  ng-repeat="col in $ctrl.grid.cols"
                    ng-style="{width: 100 / $ctrl.grid.cols.length + '%'}">
                    {{col}}
                </th>
                <tr ng-repeat="row in $ctrl.grid.rows">
                    <td ng-style="{width: 100 / $ctrl.grid.cols.length + '%'}">{{row.id}}</td>
                    <td ng-style="{width: 100 / $ctrl.grid.cols.length + '%'}">{{row.hips}}</td>
                    <td ng-style="{width: 100 / $ctrl.grid.cols.length + '%'}">{{row.uni}}</td>
                    <td ng-style="{width: 100 / $ctrl.grid.cols.length + '%'}">{{row.ru}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>