body
  margin 0
  padding 0
  box-sizing border-box
  

.weather-app
  width 500px
  margin 0 auto
  &__header
    text-align center
    font-family sans-serif
    margin-bottom 0
    

.weather-app .city-select
  width 100%
  &__input,
  &__button
    display inline-block
    vertical-align middle
    font-size 0
  
  &__input
    width 75% !important
    margin-right 5%
    
  &__button
    width 20%   
    position relative
    top 10px
    
.weather-app .period-select
  &__buttons
    display flex
    justify-content space-between
    

.weather-app .progress-bar
  height 200px
  display flex
  &__wrap
    margin auto
    
.weather-app .forecast-list
  font-family sans-serif
  &__header
    text-align center
  &__list
    list-style none
    padding-left 0
    border-radius 2px
  &__item
    display flex
    .list-date
      width 200px
      margin-right 20px
      display flex
      justify-content space-between
      p,
      img
        display inline-block
        vertical-align middle
    .list-temp
      width 160px
      &__day,
      &__night
        display inline-block
        vertical-align middle
        padding 5px 0
        margin 10px 10px
        color #fff
        width 60px
        text-align center
        border-radius 2px
      &__day
        background-color #f0ad4e
      &__night
        background-color #999
    .list-description
      margin auto
      
.weather-app .error-text
  text-align center
  font-family sans-serif                                  